# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.*.local
api_token.txt
fb_cookies.json

# Capacitor
frontend/android/.gradle
frontend/android/.idea
frontend/android/build
frontend/android/app/build
frontend/android/local.properties
frontend/android/*.iml

# Build outputs
dist/
build/
*.apk
*.aab

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.sw